@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf") format("truetype"),
url("../fonts/flaticon.woff") format("woff"),
url("../fonts/flaticon.woff2") format("woff2"),
url("../fonts/flaticon.eot") format("embedded-opentype"),
url("../fonts/flaticon.svg") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-apple:before {
    content: "\f101";
}
.flaticon-playstore:before {
    content: "\f102";
}
.flaticon-smartphone:before {
    content: "\f103";
}
.flaticon-real-estate:before {
    content: "\f104";
}
.flaticon-idea:before {
    content: "\f105";
}
.flaticon-gas:before {
    content: "\f106";
}
.flaticon-credit-card:before {
    content: "\f107";
}
.flaticon-multiple:before {
    content: "\f108";
}
.flaticon-satellite-dish:before {
    content: "\f109";
}
.flaticon-bus:before {
    content: "\f10a";
}
.flaticon-video-editing:before {
    content: "\f10b";
}
.flaticon-train:before {
    content: "\f10c";
}
.flaticon-departures:before {
    content: "\f10d";
}
.flaticon-car:before {
    content: "\f10e";
}
.flaticon-flight:before {
    content: "\f10f";
}
.flaticon-save-money:before {
    content: "\f110";
}
.flaticon-right-arrow-angle:before {
    content: "\f111";
}
